<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Blockchain Insurance</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>
	<!-- multistep form -->
	<div id="app">
		<form id="msform">
			<!-- progressbar -->
			<ul id="progressbar">
				<li v-bind:class="[CurrentActive == 1 && activeClass]">LOGIN</li>
				<li v-bind:class="[CurrentActive == 2 && activeClass]">INFORMATION</li>
				<li v-bind:class="[CurrentActive == 3 && activeClass]">BUY INSURANCE</li>
			</ul>



			<div v-if="CurrentActive == 1">
				<fieldset>
					<h2 class="fs-title">Login</h2>
					<h3 class="fs-subtitle">Login to Claim your Insurance</h3>
					<input name="aadhaarCard" placeholder="Aadhaar Card" id="phoneNumber" v-model="mobileNumber" />
					<input type="button" name="next" class="next action-button" value="Login" id="login" v-on:click="login" />
				</fieldset>
			</div>


			<div v-if="CurrentActive == 2">
				<fieldset>
					<h2 class="fs-title">Information</h2>
					<ol>
						<li id="claiming">
							<div style="flex:1; display:flex; align-items:center;">
							<div style="flex:0.33">HDFC</div>
							<div style="flex:0.33">1000</div>
							<div style="flex:0.33"><input type="button" name="Add" class="next action-button" value="CLAIM" id="add" v-on:click="onAddNewClick" /></div>
						</div>
					</li>
				</ol>
<!--        	<table v-for="(item, index) in TransactionList" key="index">-->
						<!-- <table key="index" id="claiming">

							<th>
								<td>Token Name</td>
								<td> Total Token </td>
								<td> Claim </td>
						<tr>
							<td >
								<h3>{{ item.tokenName }}</h3>-->
								<!-- <h3>HDFC</h3>
							</td>
							<td>
								<h3>{{ item.balance }}</h3>-->
								<!-- <h3>1000</h3>
							</td>
							<td> -->
								<!--<button type="submit" id="ClaimSub" name="submit" class="action-button" value="CLAIM" v-on:click="()=>claim(item)" />-->
							<!-- <input type="button" name="Add" class="next action-button" value="CLAIM" id="add" v-on:click="onAddNewClick" />
							</td>
						</tr>
					</table> -->
					<div v-if="TransactionList.length < 2">
						<input type="button" name="Add" class="next action-button" value="New Insurance" id="add" v-on:click="onAddNewClick" />
					</div>
				</fieldset>
			</div>

			<div v-if="CurrentActive == 3">
				<fieldset>
					<h2 class="fs-title">Buy Insurance</h2>
					<h3 class="fs-subtitle">Buy insurance Accroding to your Area</h3>
					<input type="text" v-model="amount" name="amount" placeholder="Amount" />
					<select v-model="selected" style=" display:  flex; width:  100%; height:  54px;">
						<option>SBI</option>
						<option>HDF</option>
					</select>
					<input type="button" name="Add" class="next action-button" value="New Insurance" id="add "  v-on:click="makeInrDeposit" />
				</fieldset>
			</div>

		</form>
	</div>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./js/index.js"></script>

	<script>
		new Vue({
			el: '#app',
			data: {
				mobileNumber: '',
				transactionList: [],
				amount: 0,
				selected: 'SBI',
				currentActive: 1,
				activeClass: 'active',
				hiddenClass: 'hidden',
				noneValue: { display: 'none' },
				blockValue: { display: 'block' },
			},

			mounted: function () {
				var _this = this;
			},

			computed: {
				TransactionList() {
					return this.transactionList;
				},
				Otp() {
					return this.otp;
				},
				MobileNumber() {
					return this.mobileNumber;
				},
				Anount() {
					return this.amount;
				},
				Selected() {
					return this.select;
				},
				CurrentActive() {
					return this.currentActive;
				}
			},

			methods: {

				login() {
					var _this = this;
					const url = 'http://localhost:3000/login'
					$.ajax({
						type: 'POST',
						url: url,
						data: JSON.stringify({ mobileNumber: this.MobileNumber }),
						dataType: "json",
						contentType: "application/json",
						success: function (result) {
							if (result) {
								localStorage.setItem('mobileNumber', this.MobileNumber);
								setInterval(() => {
									_this.loadTransactionList();
								}, 5000);

								_this.currentActive = 2;
								console.log(_this);
							}
						},
						error: function (err) {
							console.log(err);
						}
					});
				},

				loadTransactionList() {
					var _this = this;
					const url = 'http://localhost:3000/getTransaction';
					const mobileNumber = localStorage.getItem('mobileNumber');
					$.ajax({
						type: 'POST',
						url: url,
						data: JSON.stringify({ mobileNumber: mobileNumber }),
						dataType: "json",
						contentType: "application/json",
						success: function (result) {
							if (result && result.items) {
								_this.transactionList = result.items.slice();
							}
						},
						error: function (err) {
							console.log(err);
						}
					});
				},

				onAddNewClick() {
					this.currentActive = 3;
				},


				makeInrDeposit() {
					var _this = this;
					const url = 'http://localhost:3000/getTramsaction';
					const mobileNumber = localStorage.getItem('mobileNumber');
					const amount = this.Amount;
					const selected = this.Selected;


					console.log(mobileNumber, amount, selected);

					// $.ajax({
					// 	type: 'POST',
					// 	url: url,
					// 	data: JSON.stringify({ mobileNumber: mobileNumber, amount: amount, tokenName: selected }),
					// 	dataType: "json",
					// 	contentType: "application/json",
					// 	success: function (result) {
					// 		if (result && result.transactionHash) {
					// 			_this.currentActive = 2;
					// 		}
					// 	},
					// 	error: function (err) {
					// 		console.log(err);
					// 	}
					// });
				},

				claim(item) {
					const url = 'http://localhost:3000/claimAmount';
					const mobileNumber = localStorage.getItem('mobileNumber');
					const depositId = item._id;
					const tokenName = item.tokenName;

					console.log(mobileNumber, depositId, tokenName)

					// $.ajax({
					// 	type: 'POST',
					// 	url: url,
					// 	data: JSON.stringify({ mobileNumber: mobileNumber, depositId: depositId, tokenName: tokenName }),
					// 	dataType: "json",
					// 	contentType: "application/json",
					// 	success: function (result) {
					// 		if (result && result.id) {

					// 		}
					// 	},
					// 	error: function (err) {
					// 		console.log(err);
					// 	}
					// });
				}
			}
		});

	</script>
</body>

</html>
