<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Blockchain Insurance</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<!-- multistep form -->
	<div id="app">
		<form id="msform">
			<!-- progressbar -->
			<ul id="progressbar">
				<li>LOGIN</li>
				<li>INFORMATION</li>
				<li>BUY INSURANCE</li>
			</ul>

			<div></div>

			<fieldset>
				<h2 class="fs-title">Login</h2>
				<h3 class="fs-subtitle">Login to Claim your Insurance</h3>
				<input name="aadhaarCard" placeholder="Aadhaar Card" id="phoneNumber" v-model="mobileNumber" />
				<input type="button" name="next" class="nextLog action-button" value="Login" id="login" v-on:click="login" />
			</fieldset>

			<fieldset>
				<h2 class="fs-title">Information</h2>
				<ul>
					<li v-for="(item, index) in TransactionList" key="index">
						{{ item.status }} {{ item.balance }} {{ item.tokenName }}
					</li>
				</ul>
				<div v-if="TransactionList.length > 0">
					<input type="button" name="Add" class="next action-button" value="New Insurance" id="add" v-on:click="" />
				</div>
			</fieldset>

			<fieldset>
				<h2 class="fs-title"> Buy Insurance</h2>
				<h3 class="fs-subtitle">Buy insurance Accroding to your Area</h3>
				<input type="text" v-model="amount" name="amount" placeholder="Amount" />
				<select v-model="selected">
					<option>SBI</option>
					<option>HDF</option>
				</select>
			</fieldset>
		</form>
	</div>

	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./js/index.js"></script>

	<script>
		new Vue({
			el: '#app',
			data: {
				mobileNumber: '',
				transactionList: [],
				amount: 0,
				selected: 'SBI',
				currentActive: 1,
				activeClass: 'active',
			},

			mounted: function () {
				var _this = this;
			},

			computed: {
				TransactionList() {
					return this.transactionList;
				},
				Otp() {
					return this.otp;
				},
				MobileNumber() {
					return this.mobileNumber;
				},
				Anount() {
					return this.amount;
				},
				Selected() {
					return this.select;
				},
				CurrentActive() {
					return this.currentActive;
				}
			},

			methods: {

				login() {
					var _this = this;
					const url = 'http://localhost:3000/login'
					$.ajax({
						type: 'POST',
						url: url,
						data: JSON.stringify({ mobileNumber: this.MobileNumber }),
						dataType: "json",
						contentType: "application/json",
						success: function (result) {
							if (result) {
								localStorage.setItem('mobileNumber', this.MobileNumber);
								setInterval(() => {
									_this.loadTransactionList();
								}, 5000);
								this.currentActive = 2;
							}
						},
						error: function (err) {
							console.log(err);
						}
					});
				},

				loadTransactionList() {
					const url = 'http://localhost:3000/getTransaction';
					const mobileNumber = localStorage.getItem('mobileNumber');
					$.ajax({
						type: 'POST',
						url: url,
						data: JSON.stringify({ mobileNumber: mobileNumber }),
						dataType: "json",
						contentType: "application/json",
						success: function (result) {
							if (result && result.items) {
								transactionList = result.items.slice();
							}
						},
						error: function (err) {
							console.log(err);
						}
					});
				},

				onAddNewClick() {
					this.currentActive = 3;
				},


				makeInrDeposit() {
					const url = 'http://localhost:3000/getTramsaction';
					const mobileNumber = localStorage.getItem('mobileNumber');
					const amount = this.Amount;
					const selected = this.Selected;

					$.ajax({
						type: 'POST',
						url: url,
						data: JSON.stringify({ mobileNumber: mobileNumber }),
						dataType: "json",
						contentType: "application/json",
						success: function (result) {
							if (result && result.transactionHash) {
								this.currentActive = 2;
							}
						},
						error: function (err) {
							console.log(err);
						}
					});
				},

				claim(item) {
					const url = 'http://localhost:3000/claimAmount';
					const mobileNumber = localStorage.getItem('mobileNumber');
					const depositId = item._id;
					const tokenName = item.tokenName;

					$.ajax({
						type: 'POST',
						url: url,
						data: JSON.stringify({ mobileNumber: mobileNumber }),
						dataType: "json",
						contentType: "application/json",
						success: function (result) {
							if (result && result.id) {
								transactionList = result.items.slice();
							}
						},
						error: function (err) {
							console.log(err);
						}
					});
				}
			}
		});

	</script>
</body>

</html>